*{
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
}
#title{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#description{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
#survey-form{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#user-info{
    border: 2px solid white;
    width: 500px;
}
#name-group, #email-group, #number-group, #personality-group{
    margin-top: 20px;
    font-size: 20px;
}
#personality option{
    width: auto;
    height: 500px;
}
#number{
    width: 185px;
    height: auto;
}